/* app css stylesheet */

/* Contacts page */
.contact {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

#search-input {
  margin-bottom: 20px;
}

.see-more {
  position: relative;
  left: 85%;
}

.app {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

