<div class="form-group">
  <label>First name</label>
  <input type="text" id="first-name-input" ng-model="contact.first_name" class="form-control" placeholder="First name">
</div>
<div class="form-group">
  <label>Surname</label>
  <input type= "text" id="surname-input"ng-model="contact.surname" class="form-control" placeholder="Surname">
</div>
<div class="form-group">
  <label>Address</label>
  <textarea class="form-control" ng-model="contact.address" placeholder="Address"></textarea>
</div>
<div class="form-group">
  <label>Phone number</label>
  <input type="text" class="form-control" ng-model="contact.phone_number" placeholder="Phone number">
</div>
<div class="form-group">
  <label>Email Address</label>
  <input type= "email" class="form-control" ng-model="contact.email" placeholder="Email Address">
</div>
