<h1>All Contacts</h1>
<input id="search-input" class="form-control"  ng-model="searchContacts" placeholder="Search">
  <div id="contacts-container" dir-paginate="contact in contacts | filter:searchContacts | itemsPerPage: 4">
    <div class="contact highlight">
      <p>{{contact.first_name}} {{contact.surname}}</p>
      <p>Email: <a href="mailto:{{contact.email}}">{{contact.email}}</a></p>
      <p>Phone number: {{contact.phone_number}}</p>
      <a class="btn btn-sm btn-info see-more" href="#/contacts/{{contact.id}}" id="see-more-{{contact.first_name}}">See more</a>
    </div>
  </div>
  <dir-pagination-controls template-url="/app/bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
